.idea
*.iws
*.iml
*.ipr
.vscode/

*/HELP.md
*/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*/node_modules
*/src/main/frontend/generated/

/.logs/
/.docker/tempo/data